@charset "UTF-8";

#faleCmg {
    text-align: center;
}

form {
    width: 600px;
    margin: auto;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: lightgrey;
}

legend {
    font-family: 'Dosis', 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

label {
    margin-right: 20px;
}

input, textarea {
    text-indent: 5px;
    font-family: 'Trebuchet MS', sans-serif;
}

input:hover, textarea:hover {
    background-color: rgb(250, 255, 152);
}

input [type="radio"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

#fSexo {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#opSexo {
    padding-inline: 40px;
}

#radLabel {
    margin-left: 20px;
}

#coment {
    display: flex;
    justify-content: center;
}

#iMsg {
    margin-top: 20px;
    margin-bottom: 20px;
}

#enviar {
    text-indent: 0px;
    text-align: center;
    margin-bottom: 30px;
}